{
  "default-data-source": {
    "driverClassName": "com.mysql.cj.jdbc.Driver",
    "url": "jdbc:mysql://192.168.6.11/tpcc",
    "username": "tpcc_user",
    "password": "tpcc_passwd",
    "connectionProperties": "useSSL=false;useUnicode=true;characterEncoding=UTF-8;autoReconnect=true;rewriteBatchedStatements=true",
    "maxTotal": "8",
    "initialSize": "1",
    "maxIdle": "4",
    "maxWaitMillis": "60000",
    "validationQuery": "select 1",
    "removeAbandonedOnBorrow": "true",
    "logAbandoned": "true",
    "testOnBorrow": "false",
    "testWhileIdle": "true",
    "testOnReturn": "false",
    "removeAbandonedTimeout": "180",
    "removeAbandonedOnMaintenance": "true"
  },
  "mysql-ds-1": {
    "driverClassName": "com.mysql.cj.jdbc.Driver",
    "url": "jdbc:mysql://192.168.6.11/tpcc",
    "username": "tpcc_user",
    "password": "tpcc_passwd",
    "connectionProperties": "useSSL=false;useUnicode=true;characterEncoding=UTF-8;autoReconnect=true;rewriteBatchedStatements=true",
    "maxTotal": "10",
    "initialSize": "1",
    "maxIdle": "4",
    "validationQuery": "select 1",
    "maxWaitMillis": "60000",
    "removeAbandonedOnBorrow": "true",
    "logAbandoned": "true",
    "testOnBorrow": "false",
    "testWhileIdle": "true",
    "testOnReturn": "false",
    "removeAbandonedTimeout": "180",
    "removeAbandonedOnMaintenance": "true"
  },
  "oracle-ds-1": {
    "driverClassName": "oracle.jdbc.driver.OracleDriver",
    "url": "jdbc:oracle:thin:@//192.168.6.11:1521/db112",
    "username": "tpcc",
    "password": "tpcc_passwd",
    "maxTotal": "10",
    "maxIdle": "4",
    "initialSize": "1",
    "maxWaitMillis": "60000",
    "validationQuery": "select 1 from dual",
    "removeAbandonedOnBorrow": "true",
    "logAbandoned": "true",
    "testOnBorrow": "false",
    "testWhileIdle": "true",
    "testOnReturn": "false",
    "removeAbandonedTimeout": "180",
    "removeAbandonedOnMaintenance": "true"
  },
  "pgsql-ds-1": {
    "driverClassName": "org.postgresql.Driver",
    "url": "jdbc:postgresql://192.168.6.11:5432/tpcc",
    "username": "tpcc",
    "password": "tpcc_passwd",
    "maxWaitMillis": "60000",
    "validationQuery": "select 1",
    "initialSize": "1",
    "removeAbandonedOnBorrow": "true",
    "logAbandoned": "true",
    "maxIdle": "4",
    "testOnBorrow": "false",
    "testWhileIdle": "true",
    "maxTotal": "8",
    "testOnReturn": "false",
    "removeAbandonedTimeout": "180",
    "removeAbandonedOnMaintenance": "true"
  },
  "derby-ds-1": {
    "driverClassName": "org.apache.derby.jdbc.ClientDriver",
    "url": "jdbc:derby://192.168.6.11:1527/D:/Data/derby/tpcc",
    "username": "tpcc",
    "password": "tpcc_passwd",
    "maxWaitMillis": "60000",
    "validationQuery": "values 1",
    "initialSize": "1",
    "removeAbandonedOnBorrow": "true",
    "logAbandoned": "true",
    "maxIdle": "4",
    "testOnBorrow": "false",
    "testWhileIdle": "true",
    "maxTotal": "8",
    "testOnReturn": "false",
    "removeAbandonedTimeout": "180",
    "removeAbandonedOnMaintenance": "true"
  },
  "db2-ds-1": {
    "driverClassName": "com.ibm.db2.jcc.DB2Driver",
    "url": "jdbc:db2://192.168.56.60:50000/tpcc",
    "username": "tpcc",
    "password": "tpcc_passwd",
    //"connectionProperties": "traceDirectory=d:\\build;traceFile=trace;traceFileAppend=false;traceLevel=com.ibm.db2.jcc.DB2BaseDataSource.TRACE_STATEMENT_CALLS",
    "maxWaitMillis": "60000",
    "validationQuery": "select 1 from sysibm.sysdummy1",
    "initialSize": "1",
    "removeAbandonedOnBorrow": "true",
    "logAbandoned": "true",
    "maxIdle": "4",
    "testOnBorrow": "false",
    "testWhileIdle": "true",
    "maxTotal": "8",
    "testOnReturn": "false",
    "removeAbandonedTimeout": "180",
    "removeAbandonedOnMaintenance": "true"
  },
  "mssql-ds-1": {
    "driverClassName": "com.microsoft.sqlserver.jdbc.SQLServerDriver",
    "url": "jdbc:sqlserver://192.168.6.11:1433;databaseName=tpcc",
    "username": "tpcc_user",
    "password": "tpcc_passwd",
    "maxWaitMillis": "60000",
    "validationQuery": "select 1",
    "initialSize": "1",
    "removeAbandonedOnBorrow": "true",
    "logAbandoned": "true",
    "maxIdle": "4",
    "testOnBorrow": "false",
    "testWhileIdle": "true",
    "maxTotal": "8",
    "testOnReturn": "false",
    "removeAbandonedTimeout": "180",
    "removeAbandonedOnMaintenance": "true"
  },
  "sqlite-ds-1": {
    "driverClassName": "org.sqlite.JDBC",
    "url": "jdbc:sqlite:D:\\Data\\sqlite\\tpcc.db",
    "connectionProperties": "journal_mode=WAL;wal_autocheckpoint=6000;synchronous=NORMAL;cache_size=8000",
    "maxTotal": "8",
    "initialSize": "1",
    "maxIdle": "4",
    "maxWaitMillis": "60000",
    "validationQuery": "select 1",
    "removeAbandonedOnBorrow": "true",
    "logAbandoned": "true",
    "testOnBorrow": "false",
    "testWhileIdle": "true",
    "testOnReturn": "false",
    "removeAbandonedTimeout": "180",
    "removeAbandonedOnMaintenance": "true"
  }
}